header {
  background-color: red;
  height: 80px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFBE58;
  text-align: center;
}

.button {
  background-color: #FFBE58;
  color: #fff;
  border-radius: 34px;
  width: 148px;
  height: 46px;
  margin: 5px;
  margin-bottom: 60px;
  text-decoration: none;
  line-height: 46px;
  text-indent: 30px;
}

body {
  margin: 0;
  padding: 0;
}