@import "components/variables.scss";

table {
    border-collapse: collapse;
    width: 60%;
     margin: auto;
 
}




th, td {
    border: 1px solid $colorletraboton;
    text-align: center;
    padding: 8px;
}
th{
    background-color: $colorformulario;
    color: $colorletraboton;
}
td{
    background-color: $colorbotones;
}
