header{
    background-color: #000;
    height: 80px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #FFBE58;
    color: #fff;
    border-radius: 34px;
    width: 148px;
    height: 46px;
    margin: 5px;
    margin-bottom: 70px;
    text-decoration: none;
    line-height: 46px;
    text-indent: 36px;
}