@import "components/variables.scss";

.header {
    background-color: $colorformulario;
    height: 80px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.button{
    background-color: $colorbotones;
    color: $colorletraboton;
    border-radius: 34px;
    width: 148px;
    height: 46px;
    margin: 5px;
    margin-bottom: 70px;
    text-decoration: none;
    line-height: 46px;
    text-indent: 30px;
}
