
#mensaje-bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;

}


.left_area h3{
    color: #fff;
    margin: 0;

}
.left_area span{
    color: #FFBE58;

}

.menulateral {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}


.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: #111;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ff9800;
}

.sidebar button {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff9800;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    max-height: 80vh;
    overflow-y: auto;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.dinero{
    width: 123px;
}

        .sidebar {
            width: 200px;
            display: flex;
            flex-direction: column;
            display: none;
        }

        #show-menu-btn,
        #hide-menu-btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            margin-bottom: 5px;
        }

        .sidebar.visible {
            display: block !important;
        }
  body{
    background-color: #007bff;
  }