
@import "components/variables.scss";

#ingresos {
    text-align: center; 
    margin-top: 20px; 
}




#ingresos label {
    color: $colorletraboton;
    margin-bottom: 10px; 
}




#ingresos input[type="submit"] {
    background-color: $colorbotones;
    color: $colorletraboton;
    margin-top: 10px; 
}




.botones-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}




.boton1, .boton2, .boton3, .boton4 {
 
    background-color: $colorbotones;
    border-radius: 34px;
    width: 148px;
    height: 46px;
    margin: 5px;
    margin-bottom: 70px;
    text-decoration: none;
    line-height: 46px;
    text-indent: 30px;
}
.boton1{
    margin-top: -5px;
}
