#ingresos {
    text-align: center; /* Centra los elementos dentro del formulario */
    margin-top: 20px; /* Ajusta el margen según tus necesidades */
}

#ingresos label {
    color: #fff;
    margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
}

#ingresos input[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
}

.botones-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea los botones a la derecha */
}

.boton1, .boton2, .boton3, .boton4 {
  
    background-color: red;
}
.boton1{
    margin-top: -5px;
}