#ingresos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 133px;
}
#ingresos label{
    color: #fff;
    margin-bottom: 123px;
}
#ingresardinero{
    margin-top: -56px;
}
#ingresos input[type="submit"] {
    background-color: #ff0000; /* Cambia el color a rojo, puedes ajustar el código de color según tus preferencias */
    color: #fff;
    margin-top: 64px;
}